<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				
				<a class="navbar-brand" href="#">Brand</a>
				
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
					
					
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Link</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#"> <%= users[0].nom %></a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-body">
				<h2>blablabla</h2>
				<h1>titre</h1>
				<% users.forEach(function(user){ %>

				<span> <%= user.nom %> </span> <br>
				<span> <%= user.prenom %> </span> <br>
				<span> <%= user.id %> </span><br>
				<% user.file.forEach(function(fichier){ %>
				<span> <%= fichier.nomDuFichier %> </span> <br>
				<% }); %> 

				<hr>
				<% }); %> 
			</div>
		</div>
		
	</div>
</body>
</html>